html {
  height: 100%;
}

body {
  background: linear-gradient(#111, #eee);
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
}

.division {
  background-color: #fff;
  border-radius: 5px;
  padding: 1px 10px 5px 10px;
  margin: 20px 5px;
}

th {
  padding: 8px;
}

.h1 {
  color: #fff;
}