html {
  height: 100%;
}

body {
  background: linear-gradient(#111, #fff);
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
  color: #fff;
}

a:hover {
  color: #ddd;
  text-decoration: none;
}

#background {
  background-image: url('hockeybg.jpg');
  background-size: cover;
}

#rankings {

}

.division {
  background-color: rgba(0,0,0,.6);
  border-radius: 5px;
  padding: 1px 10px 5px 10px;
  margin: 20px 5px;
  color: #ccc;
}

th {
  padding: 8px;
}

.h1 {
  color: #fff;
}

@media (min-width: 1300px) {
  .container {
    width: 1270px;
  }
}