html {
  height: 100%;
}

body {
  background: linear-gradient(#111, #fff);
  background-repeat: no-repeat;
}

tr:hover {
  cursor: pointer;
}

#background {
  background-image: url('hockeybg.png');
  background-size: cover;
  border-bottom: 1px solid #fff;
}

.division {
  background-color: rgba(200,200,200,.4);
  border-radius: 5px;
  padding: 1px 10px 5px 10px;
  margin: 20px 5px;
  color: #111;
}

th {
  padding: 8px;
}

.h1 {
  color: #fff;
}

.h2 {
  color: #111;
}

.h3 {
  color: #fff;
}

@media (min-width: 1300px) {
  .container {
    width: 1270px;
  }
}

td {
  border-color: #333 !important;
}

#teamProfile {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #333;
}

.table-hover > tbody > tr:hover {
  background-color: #999;
  color: #fff;
}